.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .card p{
      font-style: bold;
      color: black;
  }