.form{
    text-align: center;
}

.form label{
    font-weight: bold;
}

.form input{
    padding: 5px;
}

.output{
    color: green;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

